<h1>Begin Duelling!</h1>
<h2><%= session[:player_1] %> vs <%= session[:player_2] %></h2>
<h3><%= session[:player_1] %>, please choose rock, paper or scissors<h3>
<form>
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>