<!-- <h1>Begin Duelling!</h1>
<h2><%= session[:player_1] %> vs <%= session[:player_2] %></h2>
<h3>Choose rock, paper or scissors<h3><br>
<button type="button"> methodRock</button>
<button type="button">Paper</button>
<button type="button">Scissors</button> -->